 <div class="edit-form">
    <h4>Add project data </h4>
    <div>
        <label><strong>Project: </strong></label> {{ currentProject.name }}
    </div>
    <br>

    <div>
        <form  >
            <div class="form-group">
                <label for="file">Add Image Files</label>
                <br>
                <input 
                    id="file" 
                    type="file" 
                    multiple
                    (change)="onImageFileChange($event)">
                <!-- <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                    <div *ngIf="f['file'].errors['required']">File is required.</div>
                </div> -->
            </div>
            <div *ngIf="imageFiles" class="progress my-3">
                <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ imageProgress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: imageProgress + '%' }"
                >
                    {{ imageProgress }}%
                </div>
            </div>
            <button 
                class="btn btn-success" 
                type="submit"
                [disabled]="!imageFiles"
                (click)="submitImage()"
                >Submit</button>
        </form>
    </div>

    <br><br>
 
    <div>
        <form  >
            <div class="form-group">
                <label for="file">Add CSV Data File</label>
                <input 
                    id="file" 
                    type="file" 
                    (change)="onCsvFileChange($event)">
                <!-- <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                    <div *ngIf="f['file'].errors['required']">File is required.</div>
                </div> -->
            </div>
            <div *ngIf="csvFile" class="progress my-3">
                <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ csvProgress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: csvProgress + '%' }"
                >
                    {{ csvProgress }}%
                </div>
            </div>
            <button 
                class="btn btn-success" 
                type="submit"
                [disabled]="!csvFile"
                (click)="submitCsv()"
                >Submit</button>
        </form>
    </div>
 </div>