<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-2">
            <h1>Filters</h1>

            <form>
                <div *ngIf="imageFiltersBool.length>0">
                    <h2> Binnary Variables  </h2>
                    <div class="form-group" *ngFor="let filter of imageFiltersBool">
                        
                        <label for="filter.variable" style="font-size:120%; display:flex; flex-direction: row; ">
                            {{filter.variable}}

                            <label style="font-size:110%; display:flex; flex-direction: row; align-items: center; margin-left:20px; margin-right: 10px;">
                            <input type="radio" 
                                class="form-control form-control-sm"
                                name="{{filter.variable}}" [(ngModel)]="filter.value" value="False"
                                style="font-size: 90%; margin-right: 5px;"
                                >
                                No
                            </label>
                            <label style="font-size:110%; display:flex; flex-direction: row; align-items: center" >
                            <input type="radio"
                                class="form-control form-control-sm"
                                name="{{filter.variable}}" [(ngModel)]="filter.value" value="True"
                                style="font-size: 90%; margin-right: 5px;"
                                >
                                Yes
                            </label>
                        </label>
                        
                    </div>
                </div>

                <div *ngIf="imageFiltersInt64.length + imageFiltersFloat64.length>0">
                    <h2> Numeric Variables </h2>
                    <div class="form-group" *ngFor="let filter of imageFiltersInt64">
                        
                        <label for="filter.variable" style="font-size:120%; display:flex; flex-direction: row; align-items: center">
                            {{filter.variable}}
                            <input
                                type="number"
                                class="form-control form-control-sm"
                                id="{{filter.variable}}_min"
                                [(ngModel)]="filter.min"
                                name="{{filter.variable}}_min"
                                style="margin-left:20px; margin-right: 5px;"
                            />
                            - 
                            <input
                                type="number"
                                class="form-control form-control-sm"
                                id="{{filter.variable}}_max"
                                [(ngModel)]="filter.max"
                                name="{{filter.variable}}_max"
                                style="margin-left:5px;"
                            />
                        </label>

                    </div>
                </div>

                <div class="form-group" *ngFor="let filter of imageFiltersFloat64">
                    
                    <label for="filter.variable" style="font-size:120%; display:flex; flex-direction: row; align-items: center">
                        {{filter.variable}}
                        <input
                            type="number"
                            class="form-control form-control-sm"
                            id="{{filter.variable}}_min"
                            [(ngModel)]="filter.min"
                            name="{{filter.variable}}_min"
                            style="margin-left:20px; margin-right: 5px;"
                        />
                        - 
                        <input
                            type="number"
                            class="form-control form-control-sm"
                            id="{{filter.variable}}_max"
                            [(ngModel)]="filter.max"
                            name="{{filter.variable}}_max"
                            style="margin-left:5px;"
                        />
                    </label>

                </div>

                <div *ngIf="imageFiltersObject.length>0">
                    <h2> Text Variables </h2>
                    <div class="form-group" *ngFor="let filter of imageFiltersObject">
                        
                        <label for="filter.variable" style="font-size:120%; display:flex; flex-direction: row; align-items: center">
                            {{filter.variable}}
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="{{filter.variable}}"
                                [(ngModel)]="filter.value"
                                name="{{filter.variable}}"
                                style="margin-left:20px;"
                            />
                        </label>
                    </div>
                </div>
            </form>


            <button type="submit" class="btn btn-success" (click)="applyFilters()">
                Filter
            </button> 
            <button class="btn btn-danger" (click)="removeFilters()">
                Remove filters
            </button>

        </div>


        
        <div class="col-10">
            <div class="row justify-content-between">
                <div class="col-6">
                    <h1>Images</h1>
                </div>
                <div class="col-mr-2">
                    <div class="form-group sm">
                        <label style="font-size:100%; display:flex; flex-direction: row; align-items: center">                                       
                            Sort by
                            <select [(ngModel)]="sortVariable" 
                                class="form-control form-control-sm"
                                style="margin-left:5px; margin-right: 5px; width: 150px;">
                                <option *ngFor="let x of imageVariables" [value]="x" [selected]="sortVariable == x">{{x}}</option>
                            </select>

                            <label style="display:flex; flex-direction: row; align-items: center; margin-left:20px; margin-right: 10px;">
                                <input type="radio" 
                                    class="form-control form-control-sm"
                                    [(ngModel)]="sortOrder" value="ASC"
                                    style="font-size: 90%; margin-right: 5px;"
                                    >
                                    a-z
                            </label>
                            <br>
                            <label style="display:flex; flex-direction: row; align-items: center; margin-right: 5px" >
                                <input type="radio"
                                    class="form-control form-control-sm"
                                    [(ngModel)]="sortOrder" value="DESC"
                                    style="font-size: 90%; margin-right: 5px;"
                                    >
                                    z-a
                            </label>
                            

                            <button class="btn btn-info btn-sm" (click)="applySort()">
                                OK
                            </button>
                        </label>
                    </div>                                        
                </div>
                <div class="col-mr-2">
                    <div class="form-group sm">
                        <label style="font-size:100%; display:flex; flex-direction: row; align-items: center">
                            Images per row
                            <input
                                type="number"
                                class="form-control form-control-sm"
                                id="numberOfColumns"
                                [(ngModel)]="numberOfColumns"
                                name="numberOfColumns"
                                style="margin-left:5px; margin-right: 5px; width: 60px;"
                            />
                            <button class="btn btn-info btn-sm" (click)="retrieveImages(project_id)">
                                OK
                            </button>
                        </label>
                    </div>
                </div>
            </div> 
            <div class="row">
                <ul class="list-group" *ngFor="let rowOfImages of images">

                    <ul class="list-group list-group-horizontal-md">
                        <li  class="list-group-item "
                            *ngFor="let image of rowOfImages"
                            [class.active]="image.id == currentImage.id"
                            (click)="setActiveImage(image)"
                            style="text-align:center"
                            >
                            <img [src]="image.final_location" [ngStyle]="{'width.px': maxImageWidth}">
                            <br>
                            {{ image.file_name}}
                            
                            <div class="form-group" *ngFor="let variable of additionalVariables">
                                
                                {{ variable }} = {{ getValue(image.id, variable) }}
                            </div>                            
                            <div *ngIf="image.id == currentImage.id">
                                <button 
                                    class="btn btn-warning"
                                    type="button"
                                    routerLink="/ifbapp/image/{{ currentImage.id}}">
                                    Show details
                                </button>
                            </div>                            
                        </li>
                    </ul>
                </ul> 
            </div>
        </div>
    </div>
</div>
